{% extends "base.html" %}
{% set show_address_management_sidebar = true %}
{% set top_nav_active = top_nav_active | default("address_management") %}
{% block app_sidebar %}
<div class="app-sidebar__inner">
  <button
    type="button"
    class="app-sidebar__toggle"
    id="app-sidebar-toggle"
    aria-expanded="true"
    title="Collapse navigation"
    aria-label="Collapse navigation"
  >
    <span class="app-sidebar__toggle-icon" aria-hidden="true">
      <span class="gc-icon gc-icon--lg app-sidebar__collapse-svg" aria-hidden="true">menu_open</span>
    </span>
  </button>
  <p class="app-sidebar__title" id="app-nav-heading-address-mgmt">Address Management</p>
  <div class="app-sidebar__nav-scroll">
    <nav class="app-nav" aria-labelledby="app-nav-heading-address-mgmt" aria-orientation="vertical">
      <p class="app-nav__section">Address plan</p>
      <a
        href="/address-management/pools"
        class="app-nav__item{% if ipam_subnav_active == 'pools' %} is-active{% endif %}"
      >
        <span class="app-nav__icon" aria-hidden="true">
          <span class="gc-icon gc-icon--xs" aria-hidden="true">grid_view</span>
        </span>
        <span class="app-nav__label">Pools</span>
      </a>
      <a
        href="/address-management/assignments"
        class="app-nav__item{% if ipam_subnav_active == 'assignments' %} is-active{% endif %}"
      >
        <span class="app-nav__icon" aria-hidden="true">
          <span class="gc-icon gc-icon--xs" aria-hidden="true">badge</span>
        </span>
        <span class="app-nav__label">Assignments</span>
      </a>
      <a
        href="/address-management/hosts"
        class="app-nav__item{% if ipam_subnav_active == 'hosts' %} is-active{% endif %}"
      >
        <span class="app-nav__icon" aria-hidden="true">
          <span class="gc-icon gc-icon--xs" aria-hidden="true">smartphone</span>
        </span>
        <span class="app-nav__label">Hosts</span>
      </a>
      <p class="app-nav__section">Registry</p>
      <a
        href="/address-management/vrfs"
        class="app-nav__item{% if ipam_subnav_active == 'vrfs' %} is-active{% endif %}"
      >
        <span class="app-nav__icon" aria-hidden="true">
          <span class="gc-icon gc-icon--xs" aria-hidden="true">public</span>
        </span>
        <span class="app-nav__label">VRFs</span>
      </a>
    </nav>
  </div>
</div>
{% endblock %}
{% block content %}
{% block address_management_body %}{% endblock %}
{% endblock %}
