{% extends "base.html" %}
{% set show_configurations_sidebar = true %}
{% set top_nav_active = "firewalls" %}
{% block app_sidebar %}
<div class="app-sidebar__inner">
  <button
    type="button"
    class="app-sidebar__toggle"
    id="app-sidebar-toggle"
    aria-expanded="true"
    title="Collapse navigation"
    aria-label="Collapse navigation"
  >
    <span class="app-sidebar__toggle-icon" aria-hidden="true">
      <span class="gc-icon gc-icon--lg app-sidebar__collapse-svg" aria-hidden="true">menu_open</span>
    </span>
  </button>
  <p class="app-sidebar__title" id="app-nav-heading">Configuration</p>
  <nav class="app-nav" aria-labelledby="app-nav-heading" aria-orientation="vertical">
    <a
      href="/firewalls?tab=configurations"
      class="app-nav__item{% if cfg_subnav_active == 'inventory' %} is-active{% endif %}"
    >
      <span class="app-nav__icon" aria-hidden="true">
        <span class="gc-icon gc-icon--xs" aria-hidden="true">subject</span>
      </span>
      <span class="app-nav__label">Inventory</span>
    </a>
    <a
      href="/configurations/network"
      class="app-nav__item{% if cfg_subnav_active == 'network' %} is-active{% endif %}"
    >
      <span class="app-nav__icon" aria-hidden="true">
        <span class="gc-icon gc-icon--xs" aria-hidden="true">public</span>
      </span>
      <span class="app-nav__label">Network</span>
    </a>
    <a
      href="/configurations/hosts-services"
      class="app-nav__item{% if cfg_subnav_active == 'hosts_services' %} is-active{% endif %}"
    >
      <span class="app-nav__icon" aria-hidden="true">
        <span class="gc-icon gc-icon--xs" aria-hidden="true">apps</span>
      </span>
      <span class="app-nav__label">Hosts &amp; Services</span>
    </a>
    <a
      href="/configurations/protect/firewall"
      class="app-nav__item{% if cfg_subnav_active == 'protect_firewall' %} is-active{% endif %}"
    >
      <span class="app-nav__icon" aria-hidden="true">
        <span class="gc-icon gc-icon--xs" aria-hidden="true">rule</span>
      </span>
      <span class="app-nav__label">Firewall</span>
    </a>
    <a
      href="/configurations/routing"
      class="app-nav__item{% if cfg_subnav_active == 'routing' %} is-active{% endif %}"
    >
      <span class="app-nav__icon" aria-hidden="true">
        <span class="gc-icon gc-icon--xs" aria-hidden="true">alt_route</span>
      </span>
      <span class="app-nav__label">Routing</span>
    </a>
    <a
      href="/configurations/authentication"
      class="app-nav__item{% if cfg_subnav_active == 'authentication' %} is-active{% endif %}"
    >
      <span class="app-nav__icon" aria-hidden="true">
        <span class="gc-icon gc-icon--xs" aria-hidden="true">shield</span>
      </span>
      <span class="app-nav__label">Authentication</span>
    </a>
    <a
      href="/configurations/administration"
      class="app-nav__item{% if cfg_subnav_active == 'administration' %} is-active{% endif %}"
    >
      <span class="app-nav__icon" aria-hidden="true">
        <span class="gc-icon gc-icon--xs" aria-hidden="true">description</span>
      </span>
      <span class="app-nav__label">Administration</span>
    </a>
  </nav>
</div>
{% endblock %}
