{% extends "base.html" %}
{% set show_designer_sidebar = true %}
{% set top_nav_active = top_nav_active | default("designer") %}
{% set _gc_ver = app_about.app_version if app_about is defined else "0.3.3" %}
{% block app_sidebar %}
<div class="app-sidebar__inner">
  <button
    type="button"
    class="app-sidebar__toggle"
    id="app-sidebar-toggle"
    aria-expanded="true"
    title="Collapse navigation"
    aria-label="Collapse navigation"
  >
    <span class="app-sidebar__toggle-icon" aria-hidden="true">
      <span class="gc-icon gc-icon--lg app-sidebar__collapse-svg" aria-hidden="true">menu_open</span>
    </span>
  </button>
  <p class="app-sidebar__title" id="app-nav-heading">Designer</p>
  <div class="app-sidebar__nav-scroll">
    <nav class="app-nav" aria-labelledby="app-nav-heading" aria-orientation="vertical">
      <a
        href="/designer/navigation"
        class="app-nav__item{% if designer_subnav_active == 'navigation' %} is-active{% endif %}"
      >
        <span class="app-nav__icon" aria-hidden="true">
          <span class="gc-icon gc-icon--xs" aria-hidden="true">playlist_play</span>
        </span>
        <span class="app-nav__label">Navigation</span>
      </a>
      <a
        href="/designer/data-controls"
        class="app-nav__item{% if designer_subnav_active == 'data_controls' %} is-active{% endif %}"
      >
        <span class="app-nav__icon" aria-hidden="true">
          <span class="gc-icon gc-icon--xs" aria-hidden="true">view_quilt</span>
        </span>
        <span class="app-nav__label">Layouts</span>
      </a>
      <a
        href="/designer/modals"
        class="app-nav__item{% if designer_subnav_active == 'modals' %} is-active{% endif %}"
      >
        <span class="app-nav__icon" aria-hidden="true">
          <span class="gc-icon gc-icon--xs" aria-hidden="true">analytics</span>
        </span>
        <span class="app-nav__label">Modals</span>
      </a>
      <a
        href="/designer/controls"
        class="app-nav__item{% if designer_subnav_active == 'controls' %} is-active{% endif %}"
      >
        <span class="app-nav__icon" aria-hidden="true">
          <span class="gc-icon gc-icon--xs" aria-hidden="true">tune</span>
        </span>
        <span class="app-nav__label">Controls</span>
      </a>
      <a
        href="/designer/tables"
        class="app-nav__item{% if designer_subnav_active == 'tables' %} is-active{% endif %}"
      >
        <span class="app-nav__icon" aria-hidden="true">
          <span class="gc-icon gc-icon--xs" aria-hidden="true">grid_view</span>
        </span>
        <span class="app-nav__label">Tables</span>
      </a>
    </nav>
  </div>
  <div class="app-sidebar__footer">
    <p class="app-sidebar__version" aria-label="Application version">v{{ _gc_ver }}</p>
  </div>
</div>
{% endblock %}
